{
    "lawsuits": [
        {
            "court_id": "T75",
            "lawsuit_id": "1804748",
            "lawsuit_password": "24401",
            "lawsuit_label": "Modèles économiques de la DG Trésor"
        },
    ]
}
